/* global */
body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: #f4f6f9;
}

/* navbar */
.navbar {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* cards */
.card {
    border: none;
    border-radius: 12px;
}

.card h2 {
    font-weight: 700;
}

/* forms */
.form-control, .form-select {
    border-radius: 8px;
    padding: 10px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #0d6efd;
}

/* buttons */
.btn {
    border-radius: 8px;
    padding: 10px;
    font-weight: 500;
}

/* dahsboard titles */
.dashboard-title {
    font-weight: 600;
    margin-bottom: 20px;
}

/* links */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* register page */
.register-card {
    border-radius: 14px;
    background-color: #ffffff;
}

.register-card .form-control,
.register-card .form-select {
    height: 45px;
    font-size: 15px;
}

.register-card button {
    height: 45px;
    font-weight: 600;
}
/* login page */
.login-card {
    border-radius: 14px;
    background-color: #ffffff;
}

.login-card .form-control {
    height: 45px;
    font-size: 15px;
}

.login-card button {
    height: 45px;
    font-weight: 600;
}
/* hover effects */
.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


.btn-primary:hover {
    background-color: #0b5ed7;
}

/* page centering */
.min-vh-80 {
    min-height: 80vh;
}

.navbar .btn {
    padding: 5px 12px;
    font-size: 14px;
}

